<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherDemo-Just.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4C5F9B61CE6279B00C4E2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4C5F9CA1CE6279B00C4E2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4C5F9D51CE6279B00C4E2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
